{% extends "inicio/base/base.html" %}

{% block content %}
{% load static %}
<div class="container pt-5">
    <h1>Gatos</h1>
    <div class="row my-5">
        <div class="col-md-7">
            <div class="row">
                {% if count == 0 %}
                <h1 class="diplay-1">No existe stock de productos</h1>
                {% else %}
                {% for p in product %}
                <div class="card">
                    <img src="{{ p.imagen_producto.url }}" class="card-img-top" alt="Error">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nombre_producto }}</h5>
                        <p class="card-text">{{ p.descripcion_producto }}</p>
                        <p class="card-text">{{ p.valor_producto }}</p>
                        <p class="card-text">{{ p.stock_producto }}</p>
                        <a href="#" class="btn btn-primary">Añadir a Carrito</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-5" id="img_api">

        </div>
    </div>
</div>
{% endblock content %}
<script src="{% static 'inicio/JS/api2.js' %}"></script>

